.reserved-page {
    min-height: calc(100vh - 160px);
    background-color: #f4f4f6;
}

.reserved-page__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    padding-top: 24px;
}

@media (max-width: 1320px) {
    .reserved-page__container {
        padding-left: 20px;
        padding-right: 20px;
    }
}